.login-container {
  position: relative;
  width: 100%;
  height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/public/images/login-background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.login-btn {
  font-weight: bold;
  background-color: #0063e5;
  border: none;
  width: 100%;
  font-size: 18px;
  padding: 15px;
}
.login-btn:hover {
  background-color: #0483ee;
}

.login {
  width: 70%;
  max-width: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login > img {
  width: 100%;
  margin: 10px;
}
.login > p{
    margin-top: 1rem;
    text-align: center;
    line-height: 1.4;
    letter-spacing: 1.5px;
    color: rgba(255, 255, 255, 0.9);
}
